<div class="d-flex justify-content-start gap-3">
  <button type="button" class="btn btn-secondary border-dark" hx-get="/booth" hx-trigger="click" hx-target="#main">ブース紹介</button>
  <button type="button" class="btn btn-light border-dark" hx-get="/school" hx-trigger="click" hx-target="#main">スクール紹介</button>
  <button type="button" class="btn btn-light border-dark" hx-get="/event" hx-trigger="click" hx-target="#main">タイムスケジュール</button>
</div>

{% for booth in booths %}
<div class="booth-card">
    <h3>{{ booth[1] }}</h3>
    <p><strong>スクール:</strong> {{ booth[2] }}</p>
    <p><img src="/static/{{booth[3]}}" class="w-25"></p>
    <button type="button" class="btn btn-light border-dark" hx-get="/booth/{{ booth[0] }}" hx-trigger="click" hx-target="#main">詳細</button>
</div>
{% endfor %}